*
{
	padding: 0;
	margin: 0;
}
body 
{
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: Arial,Helvetica,sans-serif;
	background: linear-gradient(to right,rgb(20,147,220)rgb(17,54,71));
	text-align: center;
	color: white;
}
#box
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.6);
	padding: 30px;
	gap: 5px;
	border-radius: 10px;
}
.box-item
{
	text-decoration: none;
	color: white;
	border: 3px solid dodgerblue;
	border-radius: 10px;
	padding: 10px;
}
.box-item:hover
{
	background-color: dodgerblue;
}
/*para passar mais de uma fonte para o font-family é só passar o virgula*/